* {
    overflow: auto;
}
body {
    background-color: #8ba1bb;
    font-family: Arial;

}
p.categorie {
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: -15px;
    padding: 8px 18px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
    
}
div.contenue {
    background-color: white;
    color: black;
    margin: 60px 10% 80px 10%;
    padding: 0px 30px 30px 30px;
    min-width: 350px;
    box-shadow: 10px 10px 10px 10px rgb(68, 68, 67);
    overflow: visible;
    
                      
}
h1 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: -15px;

}
p.description {
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
}
.centre {
    text-align: center;
    width: 100%;
    
}
div.categorie {
    margin-bottom: -18px;
    margin-top: 60px;
    overflow: visible;
}
div.ligne {
    height: 1px;
    width: 100px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    
}
table.infos {
    position: absolute;
     bottom: 0px;
     width: 100%;
     color: white; 
     background-color: #6c829dc0; 
     height: 80px;
     
     
}
div.infos {
    position: relative;
}
table.infos td {
    text-align: center;
    font-size: 14px;
}
img.infos {
    max-height: 600px;
    display: block;
    object-fit: cover;
    min-height: 200px;
    background-color: rgb(50, 126, 126);
}
div.colonne1 {
    
    display: inline-block;
    margin-right: 10%;
}
div.colonne2 {
    float:right
    
    
}
div.colonne {
    width: 45%;
}
div.colonne h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 15px;
    border-bottom: 5px solid #60829d;
    padding-bottom: 5px;
    
}
div.composition p {
    text-align: center;
    font-size: 14px;
    border: 1px solid lightgray;
    padding: 10px 0;
    margin-top: 4px;
    margin-bottom: 1px;


}
table.preparation p.numero {
    background-color: #6c829d;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 3px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0px;
}
table.preparation td {
    vertical-align: top;
}
table.preparation td.preparation_etape {
    
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;

}
table.preparation tr {
    height: 40px;
}
